/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
  color: #686868;
  height: 100%;
  width: 100%;
  transition: color 0.2s ease;
}
a:hover {
  color: black;
  text-decoration: underline;
}
h2 {
  color: black;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5em;
  color: #686868;
  padding: 20px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
ul {
  list-style-type: none;
}

.svg {
  width: 24px;
}
/* Nav styles */
nav {
  display: flex;
  justify-content: space-between;
  gap: 15em;
}
.right > ul {
  display: flex;
  justify-content: center;
  gap: 3em;
}
.right > ul > li > a {
  font-weight: 600;
}

/* Introduction styles */

.introduction {
  display: flex;
  flex-direction: column;
  align-content: left;
  gap: 3em;
}
.idContainer {
  display: flex;
  gap: 8em;
  width: 100%;
}
.nameAndTitleContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.picture > img {
  width: 125px;
  border-radius: 100px;
  border: 2px solid #686868;
}
.name {
  color: black;
  font-weight: 600;
}
.title > span {
  font-size: 0.9em;
}
.description > span {
  font-size: 0.9em;
}
/* Contact Styling */

.contactButton {
  width: 100%;
  padding: 10px;
  margin: 15px 15px 15px 0px;
  border-style: solid;
  border-width: 0.01em;
  border-radius: 0.3em;
  border-color: #d1cfcf;
  background-color: white;
  display: flex;
  gap: 9px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

/* Projects Styling */
.project {
  margin: 20px;
  padding: 20px;
  border: #d1cfcf 1px solid;
  border-radius: 1%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}
.technologies > ul > li {
  display: flex;
  gap: 10px;
}
.projectScreenShot > img {
  width: 50vw;
  border-radius: 1%;
}
