/* Basic Reset */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+VA+Guides&display=swap');
:root {
  --main-color: #2b303a;
  --accent-color: #92dce5;
  --secondary-color: white;
  --special-color: #e8aeb7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo {
  font-size: 32px;
  font-weight: bold;
  font-family: Playwrite;
  color: var(--accent-color);
}

a {
  text-decoration: none;
  color: var(--accent-color);
  height: 100%;
  width: 100%;
  transition: color 0.2s ease;
}
a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}
h2 {
  color: var(--accent-color);
  top: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5em;
  color: var(--secondary-color);
  padding: 20px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  width: 75vw;
}
main > * {
  width: 100%;
}
ul {
  list-style-type: none;
}

.svg {
  width: 50px;
}

.svgTech {
  width: 30px;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 8em;
}
/* Nav styles */
nav {
  display: flex;
  width: 75vw;
  justify-content: space-between;
  align-items: center;
}
.right > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.right > ul > li > a {
  font-weight: 600;
}

/* Introduction styles */

.introduction {
  display: flex;
  align-content: center;
  justify-content: center;
}
.idContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6em;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.picture > img {
  width: 125px;
  border-radius: 100px;
  border: 2px solid var(--secondary-color);
}
.description > span {
  font-size: 24px;
}
.colorIt {
  font-size: 1em;
}
/* Contact Styling */
.contactList {
  width: 100%;
  gap: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contactList > h2 {
  font-size: 32px;
  text-align: center;
}
.contactButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.2em;
}

.contactButton > a {
  padding: 10px;
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 50px;
  border: #d1cfcf;
  box-shadow: 0 4px 6px rgb(0, 0, 0), 0 1px 3px rgb(0, 0, 0);
}
.contactButton {
  background-color: var(--main-color);
  color: var(--accent-color);
}

/* Projects Styling */

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.project {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
  padding: 20px;
  background-color: var(--main-color);
}
.technologies > ul > li {
  display: flex;
  font-size: 24px;
  gap: 10px;
}
.projectContent {
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.projectDescription > h2,
.technologies > h2,
.projectContent > h2 {
  margin-bottom: 0.5em;
  font-size: 32px;
}
.projectScreenShot > img {
  width: 100%;
  border-radius: 1%;
}

.projectDescription > span {
  font-size: 24px;
  display: block;
}

.projectLink {
  color: var(--secondary-color);
  text-decoration: underline;
  font-size: 24px;
}
/* Skills Styling */

.skillsContainer {
  display: flex;

  gap: 25px;
}

.lang {
  display: flex;
  gap: 10px;
  padding: 10px;
  border: #d1cfcf 1px solid;
  border-radius: 1%;
  background-color: var(--main-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}
